<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2 mt-4">
      <div class="container-fluid">
        <div class="row pb-3">
          <img src="../../assets/images/r1.PNG" alt="">
        </div>
      </div>

      <div class="container-fluid">
        <div class="row pb-3">
          <img src="../../assets/images/r2.PNG" alt="">
        </div>
      </div>

      <div class="container-fluid">
        <div class="row pb-3">
          <img src="../../assets/images/r3.PNG" alt="">
        </div>
      </div>

      <div class="container-fluid">
        <div class="row pb-3">
          <img src="../../assets/images/r4.PNG" alt="">
        </div>
      </div>

      <div class="container-fluid">
        <div class="row pb-3">
          <img src="../../assets/images/r5.PNG" alt="">
        </div>
      </div>

      <div class="container-fluid">
        <div class="row">
          <img src="../../assets/images/r6.PNG" alt="">
        </div>
      </div>
    </div>

    <div class="col-lg-10 mt-4">
      <div class="container-fluid">
        <div class="row">
          <iframe width="100%" height="400px" src="https://www.youtube.com/embed/IjlT_4mvd-c"
                  title="The Furama Resort DaNang - Couples Corporate" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row mt-3">
          <h2 style="font-size: 24px;color: #cbbe73;line-height: 36px;text-align: left;font-family:Playfair Display;font-weight:700;font-style:normal"
              class="vc_custom_heading">KHU NGHỈ DƯỠNG ĐẲNG CẤP THẾ GIỚI FURAMA ĐÀ NẴNG, TỰ HÀO LÀ KHU NGHỈ
            DƯỠNG ẨM THỰC TẠI VIỆT NAM</h2>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row">
          <p style="font-family: Playfair Display">Hướng ra bãi biển Đà Nẵng trải dài cát trắng, Furama Resort
            Đà Nẵng là cửa ngõ đến với 3 di sản
            văn hoá thế giới: Hội An (20 phút), Mỹ Sơn (90 phút) và Huế (2 tiếng. 196 phòng hạng sang cùng
            với 70 căn biệt thự từ hai đến bốn phòng ngủ có hồ bơi riêng đều được trang trí trang nhã, theo
            phong cách thiết kế truyền thống của Việt Nam và kiến trúc thuộc địa của Pháp, biến Furama thành
            khu nghỉ dưỡng danh giá nhất tại Việt Nam – vinh dự được đón tiếp nhiều người nổi tiếng, giới
            hoàng gia, chính khách, ngôi sao điện ảnh và các nhà lãnh đạo kinh doanh quốc tế.</p>
        </div>
      </div>
    </div>

  </div>
</div>
