<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2 mt-4">
      <div class="container-fluid">
        <div class="row pb-3">
          <img src="../../../assets/images/r1.PNG" alt="">
        </div>
      </div>

      <div class="container-fluid">
        <div class="row pb-3">
          <img src="../../../assets/images/r2.PNG" alt="">
        </div>
      </div>

      <div class="container-fluid">
        <div class="row pb-3">
          <img src="../../../assets/images/r3.PNG" alt="">
        </div>
      </div>

      <div class="container-fluid">
        <div class="row pb-3">
          <img src="../../../assets/images/r4.PNG" alt="">
        </div>
      </div>

      <div class="container-fluid">
        <div class="row pb-3">
          <img src="../../../assets/images/r5.PNG" alt="">
        </div>
      </div>

      <div class="container-fluid">
        <div class="row">
          <img src="../../../assets/images/r6.PNG" alt="">
        </div>
      </div>
    </div>

    <div class="col-lg-10 mt-4">
      <div class="row">
        <h3 align="center">DANH SÁCH KHÁCH HÀNG</h3>
      </div>

      <div class="row">
        <div class="row col-lg-6 float-start">
          <div class="col-auto">
            <input type="text" class="form-control" name="keyword" placeholder="Tìm kiếm">
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-outline-primary mb-3">
              Tìm kiếm
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                   class="bi bi-search" viewBox="0 0 16 16">
                <path
                  d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
              </svg>
            </button>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="float-end">
            <a routerLink="/customer/create">
              <button type="button" class="btn btn-outline-primary">
                Thêm mới
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-clipboard-plus" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                        d="M8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z"/>
                  <path
                    d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                  <path
                    d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                </svg>
              </button>
            </a>
          </div>

        </div>
      </div>

      <div class="row">
        <table class="table table-striped table-bordered" id="tableCustomer" style="width:100%">
          <thead>
          <tr class="table-success">
            <th>STT</th>
            <th>Loại khách</th>
            <th>Tên</th>
            <th>Ngày sinh</th>
            <th>Giới tính</th>
            <th>Số CMND</th>
            <th>Số điện thoại</th>
            <th>Email</th>
            <th>Địa chỉ</th>
            <th colspan="2"></th>
          </tr>
          </thead>
          <tbody>
          <tr
            *ngFor="let customer of customers | slice: (page - 1) * pageSize : (page - 1) * pageSize + pageSize ; index as i">
            <td>{{i + 1 + (page - 1) * pageSize}}</td>
            <td>{{customer.type.name}}</td>
            <td>{{customer.name}}</td>
            <td>{{customer.birthDay | date: 'dd/MM/yyyy'}}</td>
            <td>{{customer.gender}}</td>
            <td>{{customer.idCard}}</td>
            <td>{{customer.phone}}</td>
            <td>{{customer.email}}</td>
            <td>{{customer.address}}</td>
            <td>
              <a [routerLink]="['/customer/edit', customer.id]">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-pencil" viewBox="0 0 16 16">
                  <path
                    d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                </svg>
              </a>
            </td>
            <td>
              <svg (click)="openDelete(contentDelete, customer)"
                   xmlns="http://www.w3.org/2000/svg"
                   width="16" height="16" fill="currentColor"
                   class="bi bi-trash text-danger" viewBox="0 0 16 16">
                <path
                  d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path fill-rule="evenodd"
                      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
              </svg>
            </td>
          </tr>
          </tbody>
        </table>
        <ngb-pagination class="d-flex justify-content-center" [(page)]="page" [pageSize]="pageSize"
                        [collectionSize]="customers.length"></ngb-pagination>
      </div>
    </div>

  </div>
  <ng-template #contentDelete let-modal>
    <div class="modal-header bg-warning">
      <h4 class="modal-title ">Cảnh báo</h4>
      <button type="button" class="btn btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      </button>
    </div>
    <div class="modal-body">
      <span>Bạn có muốn xóa khách hàng tên <span class="text-danger">{{deleteName}}</span> không?</span>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Hủy bỏ</button>
      <button data-dismiss="modal" class="btn btn-outline-danger" (click)="onDelete()">Xóa</button>
    </div>
  </ng-template>
</div>
