<div class="container">
  <form [formGroup]="customerFormEdit" novalidate>
    <h1 class="justify-content-center"> Form Update </h1>

    <div class="form-row">
      <div class="form-group col-md-4">
        <label>Customer Code</label>
        <input type="text" class="form-control" placeholder="SV-1234" formControlName="code">
        <div>

          <div class="mb-3 text-danger" *ngIf="customerFormEdit.controls.code.hasError('required')
        && (customerFormEdit.controls.code.dirty || customerFormEdit.controls.code.touched)">
            không được để trống
          </div>

          <div class="mb-3 text-danger" *ngIf="customerFormEdit.controls.code.hasError('pattern')
        && (customerFormEdit.controls.code.dirty || customerFormEdit.controls.code.touched)">
            sai định dạng
          </div>
        </div>
      </div>

      <div class="form-group col-md-4">
        <label>Customer Name</label>
        <input type="text" class="form-control" placeholder="Nguyen Van A" formControlName="name">
        <div>

          <div class="mb-3 text-danger" *ngIf="customerFormEdit.controls.name.hasError('required')
        && (customerFormEdit.controls.name.dirty || customerFormEdit  .controls.name.touched)">
            không được để trống
          </div>
        </div>
      </div>

      <div class="form-group col-md-4">
        <label>Type Of Customer</label><br>
        <select class="form-select form-select-lg mb-3 form form-control"
                aria-label=".form-select-lg example" formControlName="typeCustomer" [compareWith]="compareWithId">
          <option value="">Choose 1 </option>
          <option *ngFor="let customerType of customerTypes" [ngValue]="customerType">
            {{customerType.name}}
          </option>
        </select>
        <div>
          <div class="mb-3 text-danger" *ngIf="customerFormEdit.controls.typeCustomer.hasError('required')
        && (customerFormEdit.controls.typeCustomer.dirty || customerFormEdit.controls.typeCustomer.touched)">
            không được để trống
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-4">
        <label>BirthDay</label>
        <input type="date" class="form-control" placeholder="DD/MM//YYyy" formControlName="birthday">
        <div>
          <div class="mb-3 text-danger" *ngIf="customerFormEdit.controls.typeCustomer.hasError('required')
        && (customerFormEdit.controls.birthday.dirty || customerFormEdit.controls.birthday.touched)">
            không được để trống
          </div>
        </div>
      </div>

      <div class="form-group col-md-4">
        <label> Gender </label>
        <select class="form-select form-select-lg mb-3 form form-control"
                aria-label=".form-select-lg example" formControlName="gender">
          <option selected> Choose one</option>
          <option value="1">Male</option>
          <option value="2">Female</option>
          <option value="3">Another</option>
        </select>
        <div>
          <div class="mb-3 text-danger" *ngIf="customerFormEdit.controls.gender.hasError('required')
        && (customerFormEdit.controls.gender.dirty || customerFormEdit.controls.gender.touched)">
            không được để trống
          </div>
        </div>
      </div>
      <div class="form-group col-md-4">
        <label>Id Card</label>
        <input type="text" class="form-control" placeholder="123456789" formControlName="idCard">
        <div>

          <div class="mb-3 text-danger" *ngIf="customerFormEdit.controls.idCard.hasError('required')
        && (customerFormEdit.controls.idCard.dirty || customerFormEdit.controls.idCard.touched)">
            không được để trống
          </div>

          <div class="mb-3 text-danger" *ngIf="customerFormEdit.controls.idCard.hasError('pattern')
        && (customerFormEdit.controls.idCard.dirty || customerFormEdit.controls.idCard.touched)">
            sai định dạng
          </div>
        </div>
      </div>
    </div>


    <div class="form-row">
      <div class="form-group col-md-4">
        <label> Phone Number </label>
        <input type="email" class="form-control" placeholder="090-1234567" formControlName="phone">
        <div>

          <div class="mb-3 text-danger" *ngIf="customerFormEdit.controls.phone.hasError('required')
        && (customerFormEdit.controls.phone.dirty || customerFormEdit.controls.phone.touched)">
            không được để trống
          </div>

          <div class="mb-3 text-danger" *ngIf="customerFormEdit.controls.phone.hasError('pattern')
        && (customerFormEdit.controls.phone.dirty || customerFormEdit.controls.phone.touched)">
            sai định dạng
          </div>
        </div>
      </div>

      <div class="form-group col-md-4">
        <label> Email</label>
        <input type="text" class="form-control" placeholder="abc@gmail.com" formControlName="email">
        <div>
          <div class="mb-3 text-danger" *ngIf="customerFormEdit.controls.phone.hasError('required')
        && (customerFormEdit.controls.phone.dirty || customerFormEdit.controls.phone.touched)">
            không được để trống
          </div>

          <div
            *ngIf="!customerFormEdit.controls.email?.valid && (customerFormEdit.controls.email?.dirty || customerFormEdit.controls.email?.touched)">
            <p style="color: red"> Email is not valid</p>
          </div>
        </div>
      </div>
      <div class="form-group col-md-4">
        <label> Address </label>
        <input type="text" class="form-control" placeholder="abc" formControlName="address">
        <div>
          <div class="mb-3 text-danger" *ngIf="customerFormEdit.controls.address.hasError('required')
        && (customerFormEdit.controls.address.dirty || customerFormEdit.controls.address.touched)">
            không được để trống
          </div>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" (click)="onSubmit()" [disabled]="customerFormEdit.invalid"> Update
    </button>
  </form>
</div>
