<hr>

<div class="container-fluid">
  <div class="row mt-4">
    <div class="col-lg-12" style="text-align: center">
      <div class="container-fluid">
        <div class="row">
          <h4 style="font-size: 24px;color: #cbbe73;line-height: 36px;text-align: center;font-family:Playfair Display;font-weight:700;font-style:normal"
              class="vc_custom_heading">Liên hệ </h4>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row">
          <p style="font-family: Playfair Display">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
              <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
            </svg>
            103 - 105 Vo Nguyen Giap Street, Khue My Ward, Ngu Hanh Son District, Danang City, Vietnam
          </p>
          <p style="font-family: Playfair Display">Tel.: 84-236-3847 333/888 * Fax: 84-236-3847 666</p>
          <p style="font-family: Playfair Display">Email: reservation@furamavietnam.com *
            www.furamavietnam.com</p>
          <p style="font-family: Playfair Display">GDS Codes: Amadeus-GD DADFUR,
            Galileo/Apollo-GD 16236, Sabre-GD 032771, Worldspan- GD DADFU</p>
        </div>
      </div>
    </div>
  </div>
</div>
